* {
    font-family: Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.slider img {
    margin-top: 100px !important;
}

.kop-list-container .col {
    margin: 10px;
    border: 2px solid white;
    border-radius: 20px;
}

.kop-list-container .col:hover {
    border-color: #71B979;
}

.kop-list-container .kop:hover {
    color: #71B979 !important;
}

.kop-list img {
    width: 200px;
}

.kop-list a {
    text-decoration: none;
}

main h2 {
    text-transform: uppercase;
}

.infor-container {
    margin: 10px;
    border: 2px solid white;
    border-radius: 30px;
}

.infor-container:hover {
    border-color: #71B979;
}

.infor {
    margin: 50px;
}

.infor .title {
    background-color: #71B979;
    font-size: 30px;
}

.infor img {
    width: 400px;
}

.infor .content {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.hot-news-container, .today-list-container {
    background-color: #fff;
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
}

.title {
    margin-bottom: 20px;
    text-align: center;
}

.title h4 {
    color: #333;
    font-size: 32px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.title h4::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 140px;
    height: 2px;
    background-color: #71B979;
    transform: translateX(-50%);
}

.news-list, .today-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-item {
    border: 2px dashed #71B979;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.news-item img, .today-item img {
    margin-bottom: 12px;
    max-width: 100%;
    border-radius: 8px;
    height: 300px;
}

.news-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.news-title:hover {
    cursor: pointer;
    color: #71B979;
}

.content {
    font-size: 16px;
    line-height: 1.5;
}

.news-item div, .today-item div {
    margin-right: 10px;
    text-align: justify;
}

.today-item {
    border: 2px solid white;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.today-item:hover {
    border-color: #71B979;
}