* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    overflow-x: hidden;
  }
  
  body,
  html {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
  }
  .container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
  }
  .container .container-item {
    width: calc(100% / 2 - 2rem);
  }
  
  .form ul{
    width: 100%;
  }
  .form h2 {
    margin-top: 10px;
    overflow: hidden;
  }
  .form ul li {
    font-size: 20px;
  }
  
  .form ul li i {
    margin-inline: 20px;
    font-size: 20px;
    color: #4d8a54;
  }
  
  .form ul li input {
    margin: 10px;
    width: 100%;
    height: 60px;
    padding: 20px;
    border-color: #ebebeb;
    font-size: 18px;
    border: 1px solid #ebebeb;
  }
  .form ul li textarea {
    margin: 10px;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    padding: 20px;
    border-color: #ebebeb;
    font-size: 18px;
  }
  
  .form ul li button {
    margin: 10px;
    height: 60px;
    line-height: 39px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    border: none;
    border-radius: 530px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-color: #4d8a54;
  }
  .form ul li button:hover {
    border: 1px #4d8a54 solid;
    background-color: #fff;
    color: #4d8a54;
    transition: all 0.25s linear;
  }
  
  .donhang-li {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    margin: 30px;
  }
  .donhang-li p {
    display: flex;
    justify-content: end;
    text-align: center;
    align-items: center;
  }
  .donhang-li button {
    border-radius: 0px;
    opacity: 65%;
    background-color: #4d8a54;
  }
  
  /*  */
  /* ---------------------------------Nav -------------------------------------- */
  .header1 {
    background-color: #4d8a54;
    font-size: 17px;
    padding: 1px;
    width: 100%;
    /* position: fixed;------------------------------------------------------- */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    color: white;
    width: 100%;
    margin-bottom: 0;
    height: 80px;
    text-align: center;
    align-items: center;
  }
  
  .header li {
    padding-left: 50px;
  }
  .header li a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
  }
  .header li a:hover {
    color: #333;
  }
  .head1 {
    display: flex;
  }
  
  /* RESPONSIVE */
  /* TABLET */
  @media screen and (max-width: 992px) {
    .container .container-item {
      width: 100%;
    }
    .form #h22 {
      margin-top: 0px;
    }
  }
  
  /* MOBILE */
  @media screen and (max-width: 600px) {
    .container .container-item {
      width: 100%;
    }
  
    .map iframe {
      height: 350px;
    }
    .head1 {
      display: none;
    }
  
    .header li {
      padding-left: 0;
    }
    #donhang-li-input {
      width: 100px !important;
    }
    .form #h22 {
      margin-top: 0px;
    }
  }
  