body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.button {
    background-color: black;
    color: white;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.35s;
}

.button:hover {
    background-color: green;
}

.menu-filter.active .cell {
    opacity: 1;
}   

.menu-filter .cell {
    border: 1px solid black;
    margin: 20px;
    opacity: 1;
    background-color: beige;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0;
    text-decoration: none;

}

.menu-filter .cell:hover {
    background-color:azure;
}

